#root {
  width: 1380px;
  height: 900px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #B7B1F2; */
} 
@media (max-width: 768px) {
  .box, .box2 {
  flex: 100%;
  }
}
.app-container {
  display: flex;
}
.box {
  flex: 1;
  /* background-color: #f8f9fa; */
  padding: 10px;
  flex-direction: column;
}
.box2 {
  flex: 1;
  /* background-color: #f8f9fa; */
  padding: 10px;
  gap: 100px;
  flex-direction: column;
}
.box3 {
  flex: 1;
  /* background-color: #f8f9fa; */
  padding: 10px;
  flex-direction: column;
}
/* App.css */
.link-button {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.link-button:hover,
.link-button:active {
  color: #FFB26F; /* สีตอน hover หรือคลิก */
}