* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Comic Sans MS', 'Fredoka', cursive;
  background-color: #fef3c7; /* สีพื้นหลังแนวพาสเทล */
  color: #333;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .card {
    padding: 20px;
  }
  .button {
    padding: 8px 16px;
    font-size: 1rem;
  }
  .text-lg {
    font-size: 1rem;
  }
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding: 0 16px;
}

.app-container {
  display: flex;
  justify-content: center;  /* จัดตรงกลางแนวนอน */
  align-items: center;      /* จัดตรงกลางแนวตั้ง */
  flex-wrap: wrap;
}


/* Responsive box layout */
.box, .box2, .box3 {
  flex: 1 1 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  height: auto;
}

@media (min-width: 768px) {
  .box, .box2, .box3 {
    flex: 1;
  }

  .app-container {
    flex-direction: row;
  }
}

/* Link styling */
.link-button {
  text-decoration: none;
  color: black;
  /* transition: color 0.2s; */
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
.link-button:hover,
.link-button:active {
  color: #FFB26F;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

/* ปุ่มลิงก์ */
.button {

  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
